PORT=4000
MONGO_URI=mongodb+srv://ayo:ayo700@cluster0.w8kt1dt.mongodb.net/psychowrld-bot?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret (make up any long random string)
JWT_SECRET=psychowrld_admin_super_secret_2026

# Admin credentials (change these!)
ADMIN_USERNAME=psychowrld
ADMIN_PASSWORD=admin123

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
